@import '../../global.scss';
.team-card{
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    @include mobile{
        width:130px;
        height:130px;
        margin: 5px;
        padding:2px 3px 2px 3px;
        min-height:0;
        max-height: 300px;
    }
    width:200px;
    min-height: 300px;
    max-height: 300px;
    margin:10px;
    border-radius: 20px;
    background-color:#eee;
    box-shadow: 0 8px 8px -4px #009DAE;
    padding:0px 5px 2px 0px;
    img{
        @include mobile{
            width:50px;
            height: 50px;
        }
        width: 130px;
        height: 130px;
        object-fit: cover;
        border-radius: 50%;
        
    }

    h2{
       
        margin-top: 8px;
        @include mobile{
            margin-top: 5px;
            font-size: 14px;
        }
        font-size: 20px;
    }
    h4{
        @include mobile{
            margin-top:5px;
            font-size: 12px;
        }
        margin-top: 15px;
        color:#ff676d;
        text-align: center;
    }
   
   
    &:hover{
        box-shadow: 0px 0px 65px grey;
    }

    .icon{
        @include mobile{
            font-size:18px;
            margin-top: 5px;
        }
        font-size:35px;
        margin-top: 30px;

        a{
            text-decoration:none;
            color:inherit;
        }
        .item{
            &:hover{
                color:#ff676d;
            }
        }
    }
  
}




