@import '../../global.scss';
.card{
    @include mobile{
        width:210px;
        height:200px;
        margin: 5px;
        min-height: 230px;
    }
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:320px;
    min-height: 350px;
    background-color:#eee;
    margin:10px;
    border-radius: 20px;
    box-shadow: 0 8px 8px -4px #009DAE;
    img{
        @include mobile{
            height: 200px;
            width: 190px;
        }
        height: 315px;
        width: 305px;
        border-radius: 10%;
    }
    &:hover{
        box-shadow: 0px 0px 65px grey;
    }
    p{
        font-size:16px;
        @include mobile{
            padding-top: 3px;
        }
        padding-top: 5px;
        text-align: justify;
    }

}