@import '../../global.scss';

.events{
   overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .eventHead{
        animation:fade-in 1s;
        .back{
            @include mobile{
              left:15px;
              top:15px;
            }
              color:#009dae;
              position: absolute;
              left:50px;
              top:40px;
              font-size: 50px;
      
              &:hover{
                  color:#FC5185;
              }
              .link{
                  text-decoration: none;
                  color: inherit;
                  @include mobile{
                      font-size: 30px;
                      }
              }
          }
          display: flex;
          justify-content: center;
          align-items: center;
          @include mobile{
              font-size: 1.5em; 
              margin-bottom: 0; 
          }
          font-family: 'Open Sans Condensed', sans-serif;
          font-size: 2em;
          margin-bottom: 50px;
      }
    .content{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Montserrat', sans-serif;
        flex-wrap: wrap;

        .cards{
              // animation:fade-in 3s;
            @include mobile{
                width:130px;
                height:25%;
                margin: 12px;
                min-height: 10%;
            }
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width:250px;
            min-height: 250px;
            background-color:#eee;
            margin:10px;
            border-radius: 20px;
            box-shadow: 0 8px 8px -4px #009DAE;
            img{
                @include mobile{
                    height: 70%;
                    width: 100%;
                }
                height: 250px;
                width: 240px;
                border-radius: 10%;
            }
            &:hover{
                box-shadow: 0px 0px 65px grey;
            }
            p{
                @include mobile{
                    padding-top: 2px;
                    padding-bottom: 2px; 
                    font-size: 14px;
                }
                padding-top: 5px;
                padding-bottom: 3px;
                text-align: justify;
            }
        
        }

        // @keyframes fade-in {
        //     from{
        //         opacity: 0;            
        //     }
        //     to{
        //         opacity: 1;
        //     }
        // }
    }
 
}